@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Sniglet:wght@400;800&display=swap');

/* LANDING PAGE */
.landingPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  font-family: 'Sniglet', sans-serif;
  font-weight: 700;
  font-size: xx-large;
  padding-top: 10px;
}

.landingPage h1 {
  margin-top: 0;
}

.landingPageDuck {
  max-height: 400px;
}

.beginButton {
  padding: 10px 20px;
  background-color: #f5d7e3;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 30px;
  font-family: 'Sniglet', sans-serif;
  font-weight: 600;
  width: 350px;
  display: flex;
  justify-content: center;
  text-decoration: none;
}


/* NAV BAR */
.headerNav {
  background-color: #595358;
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  width: 100%;
}

.logoContainer img {
  height: 40px; 
  margin-left: 10px;
}


/* PHOTO UPLOAD PAGE */
.Instructions {
  margin: 10px;
  font-family: 'PlusJakartaSans', sans-serif;
  font-weight: 100;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.uploadButton {
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  background-color: #99b2dd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Sniglet', sans-serif;
  width: fit-content;
  display: flex;
  justify-content: center;
}
  
.uploadButton:hover {
  background-color: #8397b8;
}

.selectPhotoButton {
  margin: auto;
  margin-bottom: 0px;
  padding: 10px 20px;
  background-color: #f5d7e3;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'Sniglet', sans-serif;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.selectPhotoButton:hover {
  background-color: #c77696c4;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.elementsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
  
.imagePreview {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 20px;
}

.loadingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  width: 100vw; 
  position: fixed; 
  top: 0;
  left: 0;
}

.loadingContainer img {
  max-height: 300px;
}

.loadingContainer p {
  font-family: 'Sniglet', sans-serif;
  font-weight: 600;
  font-size: xx-large;
}

/* CONFIRM PRODUCTS PAGE */
.confirmProductsPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.confirmProductsPage h1 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.contentContainer {
  display: flex;
  justify-content: space-around;
  align-items: start;
  width: 100%;
  max-width: 1200px;
  margin-top: 20px;
  gap: 20px; 
}

.previewContainer, .editResponseContainer {
  flex: 1;
  font-family: 'PlusJakartaSans', sans-serif;
  font-size: 16px;
  margin-right: 20px;
}

.editInstructions {
  max-width: 500px;
  max-height: 500px;
  margin-bottom: 20px;
}

.editResponseContainer {
  margin: auto;
  margin-bottom: 20px;
  margin-right: 20px;
  background-color: #fff9ea;
  font-family: 'PlusJakartaSans', sans-serif;
  font-size: 16px;
  max-width: 700px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 30px 20px 30px 20px;
}

.editResponseContainer li {
  margin-bottom: 10px; /* Spacing between items */
  padding: 10px; /* Padding inside each item */
  border-radius: 5px; /* Rounded corners for each item */
  display: flex;
  justify-content: left;
  text-align: left;
  list-style-type: decimal; 
} 

.editResponseContainer textarea {
  width: 600px;
  height: 80%;
  resize: none;
  padding: 12px 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 16px;
  font-family: 'PlusJakartaSans', sans-serif;
} 

.editListContainer {
  display: flex;
  flex-direction: column;
}

.editableListItem {
  display: flex;
  align-items: centers;
  margin-bottom: 10px;
  width: 100%; 
}

.listItemNumber {
  margin-right: 10px;
  font-size: 16px; /* Adjust size as needed */
  line-height: 1.5; /* Align with textarea's line height */
  padding-top: 10px; /* Adjust to align with textarea's text */
  font-family: 'Sniglet', sans-serif;
  font-weight: 700;
  font-size: x-large;
}

.textContainer {
  background-color: #ffffff; /* White background for the text area */
  border: 1px solid #ccc; /* Optional: adds a border around the text area */
  border-radius: 4px; /* Optional: rounds the corners of the text area */
  padding: 10px; /* Spacing inside the text area */
  display: flex;
  align-items: center; /* Aligns text and icon vertically */
  width: 100%;
}

.editableTextarea, .listItemText {
  flex-grow: 1; /* Takes up maximum width */
}

.editableTextarea {
  flex-grow: 1;
  resize: vertical;
  width: 100%;
}

.faEdit, .faCheck {
  font-size: 20px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-self: center;
} 


/* DISPLAY RESPONSE CONTENT  */
.responseContainer {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: #fff9ea;
  font-family: 'PlusJakartaSans', sans-serif;
  font-size: 16px;
  max-width: 700px;
  max-height: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}
  
.responseContainer h3 {
  padding: 0px;
  margin-bottom: 0px;
  font-family: 'Sniglet', sans-serif;
  font-size: x-large;
}

.responseContainer li {
  margin-bottom: 10px; /* Spacing between items */
  padding: 10px; /* Padding inside each item */
  border-radius: 5px; /* Rounded corners for each item */
  display: flex;
  justify-content: left;
  text-align: left;
  list-style-type: none; 
} 

.responseContainer p {
  margin-bottom: 10px; /* Spacing between items */
  padding: 10px; /* Padding inside each item */
  border-radius: 5px; /* Rounded corners for each item */
  display: flex;
  justify-content: left;
  text-align: left;
  list-style-type: none; 
}

/* RECOMMENDATION PAGE */
.getRecsButton {
  padding: 10px 20px;
  background-color: #f5d7e3;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'PlusJakartaSans', sans-serif;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 10px;
}

.getRecsButton:hover {
  background-color: #c77696c4;
}



/* SCHEDULE PAGE */
.getScheduleButton {
  padding: 10px 20px;
  background-color: #f5d7e3;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-family: 'PlusJakartaSans', sans-serif;
  width: fit-content;
  display: flex;
  justify-content: center;
  margin: 10px;
}


